* {
    text-align: center;
    font-family: 'Poetsen One';

}

body {
    background-image: url(/Assets/images/homebackground.jpg);
    background-attachment: fixed;

}

.container {
    width: 900px;
    margin-left: 30%;
}

h1 {
    font-family: 'Poetsen One';
    font-size: 560%;
    color: white;
}

p {
    font-size: 300%;
    margin-top: 20%;
    color:white;
}

a {
    font-size: 270%;
    text-decoration: none;
    color: white;
    text-align: center;
}
a:hover{
    color:orange;
}
#question{
    color: white;
}
#more{
    font-size: 300%;
    color: whitesmoke;
        text-decoration: underline;

}
#score{
}
#reset{
    font-size: 150%;
}
#reset:hover{
    color:gray;
}
#answer0:hover{
    color: gray;
}
#answer1:hover{
    color: gray;
}
#answer2:hover{
    color: gray;
}
#answer3:hover{
    color: gray;
}
@media(min-width:300px){
    *{
        text-align: center;
    }
    h1{
        font-size: 60px;
    }
    .container{
        margin-left:2px;
        width: auto;
        height: auto;
    }
    #wrapper{
        font-size: 13px;
    }
    button{
        font-size: 20px;
    }
}
@media(min-width:1000px){
    .container{
        width: auto;
    }
}