* {
    text-align: center;
}
body{
    background-color: gray;
    width: 100%;
}

.container {
    background-image: url(/Assets/images/chalkboard.png);
    background-size: 60%;
    box-shadow: 0 4px 8px rgba(47, 46, 46, 0.949);
    width: 900px;
    height:900%;
    text-align: center;
    color: aliceblue;
}

h1 {
    font-family: 'Poetsen One';
    font-size: 560%;
}

p {
    font-size: 150%;
    margin-top: 20%;
    padding-right: 60%;
}

a {
    font-size: 130%;
}
@media(max-width:500px) {
    .container{
        background-color: gray;
        background-image: none;
        box-shadow: none;
        text-align: center;
        font-size: 12px;
    }
    h1 {
        font-size: 2.1rem;
        padding-right: 0.5rem;
    }
    #question{
        padding-right: 60%;
        font-size: 20px;
    }
    #answer0{
        margin-right: 60%;
        margin-top: 2%;
        text-align: center;

    }
    #answer1{
        margin-right: 60%;
        text-align: center;
        margin-top: 3%;
    }
    #answer2{
        margin-right: 60%;
        text-align: center;
        margin-top: 3%;
    }
        #answer3{
        margin-right: 60%;
        text-align: center;
        margin-top: 3%;

    }

}