* {
    text-align: center;
}
body{
    background-color: gray;
}

.container {
    background-image: url(/Assets/images/chalkboard.png);
    background-size: 60%;
    box-shadow: 0 4px 8px rgba(47, 46, 46, 0.949);
    width: 900px;
    height:900%;
    text-align: center;
    margin-left: 25%;
    color: aliceblue;
}

h1 {
    font-family: 'Poetsen One';
    font-size: 560%;
}

p {
    font-size: 150%;
    margin-top: 20%;
}

a {
    font-size: 130%;
}
@media(min-width:300px) {
    .container{
        background-color: gray;
        background-image: none;
        box-shadow: none;
        margin-right: 150rem;
        text-align: center;
    }
    h1 {
        font-size: 1.5rem;
        padding-right: 0.5rem;
    }
}